---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% assign invited = site.talks | where: "type", "Talk" | sort: "date" | reverse %}
{% assign conf = site.talks | where: "type", "Non-Archival Conference Presentation" | sort: "date" | reverse %}

<h2>Invited Talks</h2>
<hr />
{% for post in invited %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Non-Archival Conference Presentations</h2>
<hr />
{% for post in conf %}
  {% include archive-single-talk.html %}
{% endfor %}
